*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.back-to-menu {
	width: 130px;
	height: 40px;
	border: 1px solid #ffcc33;
	margin-left: 3px;
	margin-top: 5px;
}

.back-to-menu:hover {
	background-color: #f1f1f1;
}

.back-to-menu:hover i {
	color: #373542;
}

.back-to-menu:hover p {
	color: #373542;
}

.back-to-menu i {
	float: left;
	line-height: 38px;
	font-size: 18px;
	padding-right: 7px;
	padding-left: 10px;
	color: #f1f1f1;
}

.back-to-menu > a > p {
	float: left;
	line-height: 32px;
	font-size: 18px;
	color: #f1f1f1;
	font-weight: 500;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
 
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-top: -60px;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: orange;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: orange;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}

a.rgt{
	display: block;
	text-align: right;
	text-decoration: none;
	color: orange;
	font-size: 0.9rem;
	transition: .3s;
}

a.rgt:hover{
	color: #38d39f;
	text-decoration: none;
}

/*.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}*/
.tg-btn {
	padding:0 20px;
	background:#373542;
	border: 1px solid;
	overflow: hidden;
	position: relative;
	display:inline-block;
	vertical-align:middle;
	text-decoration: none;
	text-transform: uppercase;
	font:700 14px/50px 'Oswald', Arial, Helvetica, sans-serif;
	margin-top: 15px;
}

.tg-btn span {z-index: 5;}
.tg-btn:after {
	background: #fff !important;
	content: "";
	height: 155px;
	left: -75px;
	opacity: .2;
	top: -50px;
	width: 50px;
	z-index:5;
	position: absolute;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.tg-btn:hover:after {
	left: 120%;
	-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
	transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
ul.social-agileinfo {
    text-align: center;
}
ul.social-agileinfo li {
	display:inline-block;
	margin:0;
}
ul.social-agileinfo li a i.fa {
	width:40px;
	height:40px;
	border:1px solid black;
	text-align:center;
	line-height:40px;
	color:orange;
}
ul.social-agileinfo li a i.fa.fa-facebook:hover {
	background-color:#3b5998;
	color:#fff;
	border-color:#3b5998;
}
ul.social-agileinfo li a i.fa.fa-twitter:hover {
	background-color:#1da1f2;
	color:#fff;
	border-color:#1da1f2;
}
ul.social-agileinfo li a i.fa.fa-linkedin:hover {
	background-color:#ff3366;
	color:#fff;
	border-color:#cd201f;
}
ul.social-agileinfo li a i.fa.fa-google-plus:hover {
	/*-- w3ls --*/
	background-color:#dd4b39;
	color:#fff;
	border-color:#dd4b39;
}
ul.social-agileinfo li a i.fa:hover {
    -webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	-moz-animation: spin 2s linear infinite;
	-o-animation: spin 2s linear infinite;
	-ms-animation: spin 2s linear infinite;
}
#text {
	display:none;
	color:red;
}

.rgt-thong-tin {
	color: orange;
	display: block;
	text-decoration: none;
}

.rgt-thong-tin:hover {
	text-decoration: none;
}

@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}

@media screen and (max-width: 414px) {
	.back-to-menu i {
		color: #373542;
	}
	.back-to-menu p {
		color: #373542;
	}
	.rgt-thong-tin {
		margin-left: 6%;
	}
}

@media screen and (max-width: 375px) {
	.back-to-menu i {
		color: #373542;
	}
	.back-to-menu p {
		color: #373542;
	}
	.rgt-thong-tin {
		margin-left: 6%;
	}
}